@import './base.css';
/* = = = = = = = = = = = = = = = = = = */
/* WRAPPER                             */
/* = = = = = = = = = = = = = = = = = = */
.wrapper {
    height: 100vh;
}

.login-wrapper {
    background: #FFF url("../media/background.jpg") center center / cover no-repeat fixed;
}

.homepage-wrapper * {
    color: #000;
}

/* = = = = = = = = = = = = = = = = = = */
/* LOGIN                               */
/* = = = = = = = = = = = = = = = = = = */
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 3%;
    left: 1%;
    animation: rotation 4s infinite linear;
}

.blue {
    color: #3B82F6;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: fixed;
    right: 0%;
    width: 50%;
    height: 100%;
    padding-inline: 70px;
    background-color: rgba(0,0,0,0.7);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login-form {
    flex-direction: column;
    gap: 15px;
}

.login-form div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #FFF;
    background-color: rgba(0,0,0,0);
}

.login-buttons {
    gap: 15px;
}

.login-buttons button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    font-weight: 700;
}

.login-buttons button+button {
    background-color: #3EC70B;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-links a {
    color: #2FA4FF;
    text-decoration: underline;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.failed article * {
    font-weight: 700;
    color: #DD5353;
}

.success article * {
    font-weight: 700;
    color: #54B435;
}

/* = = = = = = = = = = = = = = = = = = */
/* HOMEPAGE                            */
/* = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = */
/* HEADER                              */
/* = = = = = = = = = = = = = = = = = = */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-inline: 130px;
    background-color: #2FA4FF;
}

nav, nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nest {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icons {
    gap: 60px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    border-radius: 50%;
}

/* MAIN CONTENT */
.content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box {
    width: 400px;
    margin: 20px 0;
    border-radius: 5px;
}

/* PROFILE */
.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    background-color: #FFF;
}

.profile-container article, p {
    text-align: center;
    font-size: 1.1rem;
}

.profile-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: 1px solid #F2F4F9;
    border-left: none;
    border-right: none;
}

.profile-stats p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* FEED */
.feed-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.posting button {
    position: absolute;
    top: 30%;
    right: 38%;
    background-color: #FFF;
}

.feed {
    padding: 15px;
    background-color: #FFF;
}

.feed p {
    text-align: left;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.likes-comments {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* .feed-profile {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 12.5%;
    left: 38%;
} */

/* NETWORK */
.people-container {
    background-color: #FFF;
}